<h4>Cart</h4>

<ul class="collection">
  <%= for cart_item <- @cart do %>
    <li class="collection-item">
      <%= cart_item.product_name %>

      <div class="right">
        <%= link "Remove from Cart", to: Routes.cart_path(@conn, :delete, cart_item), method: :delete %>
      </div>
    </li>
  <% end %>
</ul>
